@model List<Equipo>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="container">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Microsoft</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Laboratorios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Login">Cerrar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" asp-area="" asp-controller="Equipos" asp-action="Listar">Cisco</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" asp-area="" asp-controller="Equipos" asp-action="Microsoft">Microsoft</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" asp-area="" asp-controller="Equipos" asp-action="CDS">CDS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Lab1101</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" asp-area="" asp-controller="Reporte" asp-action="Guardar">Añadir reporte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<hr />
<h2>Lista de Equipos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Equipos</th>
            <th>Sillas</th>
            <th>Herramientas</th>
            <th>Cables</th>
            <th>Nombre</th>
            <th>Grupo</th>
            <th>Matricula</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Computadoras</td>
                <td>@item.Sillas</td>
                <td>@item.Herramientas</td>
                <td>@item.Cables</td>
                <td>@item.Nombres</td>
                <td>@item.Grupo</td>
                <td>@item.Matricula_Alum</td>
            </tr>
        }
    </tbody>
</table>